.container
{
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height:auto;
    max-height: none;
    overflow: visible;
    width: 450px;
    padding-top:25px;
    padding-left: 25px;
    padding-bottom:20px;
    border-radius: 10px;
    gap:10px;
}
*
{
    margin:0;
    padding:0;
}

.main-container
{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    gap:30px;
}
body 
{
     background: linear-gradient(to right, red, orange, yellow);
}

.icon 
{
    vertical-align: middle;
}

input
{
    height:40px;
    width:350px;
    border:none;
    background-color: rgb(232, 231, 231);
    border-radius: 30px;
    padding-left:10px;
}
button{
    height:40px;
    width:50px;
    border:none;
    border-radius: 30px;
    background-color: rgb(243, 70, 67);
    color:white;
}

.taskbar
{
    display:flex;
    gap:3px;
}

ul li 
{
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position:relative;
}

ul li::before 
{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
}

ul li.checked 
{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before 
{
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right:40px;
    top:5px;
    width:40px;
    height:40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

ul li span:hover 
{
    background-color: #edeef0;
}
